<div class="container">
  <nav class="header-nav">
    <div class="header">
      <div class="left-nav">
        <h1>Down Under</h1>
      </div>
      <div class="right-nav">
        <a href="#/cart">Cart</a>
      </div>
    </div>
  </nav>
  <div class="main" ng-controller="MainController">
      <p class="producto"> {{products.productType}} </p>
    <!-- <ul>
      <li ng-repeat="events in event.events" class="thumbnail">
        <h2>
          <a href="#/details">{{events.name}}</a>
          <a ng-href="#/cart">
            <span class="storefrontID" hidden=true>{{events.id}}</span>
            <i ng-click="addToCart()" class="fa fa-cart-plus fa-2x"></i>
          </a>
        </h2>
        <p class="location">{{events.location}} </p>
        <p class="price"> {{events.price | currency:"$"}}</p>
        <p class="date">{{events.date}}</p>
        <img src="{{events.image}}">
      </li>
    </ul> -->
  </div>
  <div class="footer">
    <div class="footer-container">
      <h2>commercetools Angular Store App</h2>
      <h3> Built by <br><br> <a href="https://github.com/ebonertz"> @ebonertz </a> </h3>
    </div>
  </div>
</div>
